/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body { 
    font-family: "Open Sans", sans-serif;
    color: #555555;
    padding: 0;
    margin:0;
  }
  
  a { 
    text-decoration: none;
    color: orangered;
  }
  
  a:hover {
    color: orange;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Poppins";
  }

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url("../InnovXusWebsite/Image/Untitled design.jpg");
    position: initial;
    
  }
  
  #hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
    background-color: rgba(248, 247, 216, 0.699);
  }
  
  #hero .hero-logo {
    margin-bottom: 30px;
  }
  
  #hero h1 {
    margin: 0 0 30px 0;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    color: #fff;
  }
  
  #hero h2 {
    color: black;
    margin-bottom: 30px;
    font-size:18px;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  #hero .btn-get-started {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 30px;
    border: 2px dashed #7209b7;
    border-radius: 10px;
    margin: 10px;
    color: #fff;
    background: #7209b7;
    z-index: 1;
    background-color: 0.2s ease-in-out 0s;
  }
  
  #hero .btn-get-started:hover {
    transition: 0.5s;
    border: 2px solid #a217ff;
    background: #a217ff;
    color: #ffffff;
  }

  /* Desktops, large screens Media Query */
  
  @media (min-width: 1024px) {
    #hero {
      position: relative;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  /* iPads, Tablets Media Query */
  
  @media (min-width: 481px) and (max-width: 768px) {
    #hero{
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }
    
    #hero h1 {
      font-size: 38px;
      line-height: 36px;
    }
  
    #hero h2 {
      line-height: 16px;
    }
  }

  /* Small screens, laptops Media Query */

  @media (min-width: 769px) and (max-width: 1024px) {
    #hero{
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }
  }

  /* Mobile Device Media Quary */

  @media (min-width: 320px) and (max-width: 480px){
    #hero{
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #hero h1{
      font-size: 28px;
    }

    #hero h2{
      font-size: 12px;
      color: black;
    }

    #hero .hero-container {
      background-color:rgba(248, 247, 216, 0.299) ;
    }

  }


/*--------------------------------------------------------------
# Header Section
--------------------------------------------------------------*/

#Header{
  width: 100%;
  height:100px;
  position: -webkit-sticky;
  position: sticky;
  top:0;
  z-index: 100;
}
#Header .main-header{
  color:whitesmoke;
  max-width: auto;
  background-color: whitesmoke;
  padding:20px 30px ; 
  overflow: hidden;
  box-shadow: 5px 10px 8px #88888883;
}

#Header li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  line-height: 20px;
  border-radius: 4px;
  color: #6a9893;

}

#Header li > a {
  color: #333;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding: 0 12px;
}

li > a::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0;
  top: 5px;
  background: transparent;
  transition: all 0.3s;
  
}

li > a:hover::after, li > a.active-nav::after {
  width: 100%;
  background: #6a9893;
}

#clogo img{
  float:left;
  width: 110px;
  margin-top: -27px;
  margin-bottom: -29px;
  padding-left: 30px;
}

.main-header .menu{
  float: right;
  padding-right: 15px;
  border-radius: 10px;
}

#Header .night-light-label{
  display: block;
  margin: 20px 0;
  height: 31px;
  width: 60px;
  border:2px solid #6a9893;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
}

/* 
  #header {
    height: 40px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: #fbfbfb;
    box-shadow: 0 4px 10px -3px hsla(0, 0%, 75%, 0.5);
    padding:30px 80px;
    overflow: hidden;
  }

  #header .container{
    align-items: center;
  }
  
  #header .logo h1 {
    font-size: 28px;
    margin: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    
  }
  
  #header .logo h1 a,
  #header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 30px;    
    justify-content: center;
    align-content:  center;
    overflow: hidden;
  }
  
  @media (max-width: 992px) {
    #header {
      height: 70px;
    }
  }
  
  .scrolled-offset {
    margin-top: 90px;
  }
  
  @media (max-width: 992px) {
    .scrolled-offset {
      margin-top: 90px;
    }
  } */
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
  .navbar {
    margin-top: -40px;
    padding: 0;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    text-align: center;
    vertical-align: center;
    position: relative;
  }
  
  /* .navbar li {

    
  } */
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 20px;
    font-weight: 600;
    font-size: 15px;
    color: #151515;
    text-transform: uppercase;
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: white;
  }
  
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 1px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }
  
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
  }
  
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: #7cc576;
  }
  
  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  
  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  
  @media (max-width: 1640px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
  
    .navbar .dropdown .dropdown:hover>ul {
      left: -100%;
    }
  }
  
  /**
  * Mobile Navigation 
  */
  .mobile-nav-toggle {
    color: #151515;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  
  .mobile-nav-toggle.bi-x {
    color: #fff;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: none;
    }
  }
  
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.3s;
    z-index: 999;
  }
  
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }
  
  .navbar-mobile a,
  .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #151515;
  }
  
  .navbar-mobile a:hover,
  .navbar-mobile .active,
  .navbar-mobile li:hover>a {
    color: white;
  }
  
  .navbar-mobile .getstarted,
  .navbar-mobile .getstarted:focus {
    margin: 15px;
  }
  
  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  
  .navbar-mobile .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
  }
  
  .navbar-mobile .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar-mobile .dropdown ul a:hover,
  .navbar-mobile .dropdown ul .active:hover,
  .navbar-mobile .dropdown ul li:hover>a {
    color: white;
  }
  
  .navbar-mobile .dropdown>.dropdown-active {
    display: block;
  }