@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi&display=swap');

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body { 
    font-family: "Poppins";
    color: #555555;
    padding: 0;
    margin: 0;
  }
  
  a { 
    text-decoration: none;
    color:white;
  }

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    position: initial;

  }
  
  #hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    /* text-align: center; */
    padding: 0 35px;
    padding-left: 100px;
    background:url(https://v-ishnu.github.io/InnovXus/Assets/Image/1.png);
    background-size: cover;
    background-position-x: 90%;
    background-position-y: 50%;
  }
  
  #hero h1 {
    margin: 0 0 20px 0;
    padding-left: 15px;
    font-size: 58px;
    font-weight: 700;
    line-height: 56px;
    color: #6a9893;
  }
  
  #hero h2 {
    font-family: "poppins";
    color: whitesmoke;
    margin-bottom: 30px;
    width: 450px;
    padding-left: 15px;
    font-size:18px;
    font-weight: 700;
    text-transform: uppercase;
  }

  #hero .btn{
    display: flex;
    text-align: center;
    padding: 30px;
    font-size: 16px;  

    .learn-more{
      color:#fff !important ;
      margin-top: 16px ;
      margin-left: 20px;
    }

    .learn-more:hover{
      text-decoration: underline;
    }
  }

  #hero .btn-get-started {
    font-family: "Poppins";
    text-transform: uppercase;
    font-weight: 600;
    width: fit-content;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 30px;
    margin-left: -18px;
    border: 2px solid #6a9893;
    border-radius: 10px;
    color: #fff;
    background: #6a9893;
    z-index: 1;
    background-color: 0.2s ease-in-out 0s;
  }
  
  #hero .btn-get-started:hover {
    transition: 0.5s;
    border: 2px solid #6a9893;
    background: transparent;
    color: #ffffff;
  }

  /* Desktops, large screens Media Query */
  
  @media (min-width: 1024px) {
    #hero {
      position: relative;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  /* iPads, Tablets Media Query */
  
  @media (min-width: 481px) and (max-width: 768px) {
    #hero{
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }
    
    #hero h1 {
      font-size: 38px;
      line-height: 36px;
    }
  }

  /* Small screens, laptops Media Query */

  @media (min-width: 769px) and (max-width: 1024px) {
    #hero{
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }
  }

  /* Mobile Device Media Quary */

  @media (min-width: 320px) and (max-width: 480px){
    #hero{
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #hero h1{
      font-size: 28px;
    }

    #hero h2{
      font-size: 12px;
      color: black;
    }

    #hero .hero-container {
      background-color:rgba(248, 247, 216, 0.299) ;
    }

  }


/*--------------------------------------------------------------
# Header Section
--------------------------------------------------------------*/
#Header{
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top:0;
  z-index: 100;
}
#Header .main-header{
  color:whitesmoke;
  max-width: auto;
  background-color: whitesmoke;
  padding:20px 30px ; 
  overflow: hidden;
  box-shadow: 5px 10px 8px #88888883;
}

#Header li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  line-height: 20px;
  border-radius: 4px;
  color: #6a9893;

}

#Header li > a {
  color: #333;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding: 0 12px;
}

li > a::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0;
  top: 5px;
  background: transparent;
  transition: all 0.3s;
  
}

li > a:hover::after, li > a.active-nav::after {
  width: 100%;
  background: #6a9893;
}

#clogo img{
  float:left;
  width: 110px;
  margin-top: -27px;
  margin-bottom: -29px;
  padding-left: 30px;
}

.main-header .menu{
  float: right;
  padding-right: 15px;
  border-radius: 10px;
}

#Header .night-light-label{
  display: block;
  margin: 20px 0;
  height: 31px;
  width: 60px;
  border:2px solid #6a9893;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
}

/*--------------------------------------------------------------
#Event Details
--------------------------------------------------------------*/
.orb-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

strong {
  font-weight: 600;
}

.overlay {
  width: 100%;
  max-width: 1140px;
  max-height: 640px;
  padding: 11rem;
  margin-top: -69px;
  display: flex;
  margin-left: 13px;
  align-items: center;
  background: rgba(255, 255, 255, 0.375);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 3rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.overlay__inner {
  max-width: 36rem;
}

.overlay__title {
  font-size: 1.875rem;
  line-height: 2.75rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  margin-bottom: 2rem;
}

.text-gradient {
  background-image: linear-gradient(
    45deg,#1f06f9 25%, #f906e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.overlay__description {
  color: #555555;
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 3rem;
}
#overlay .btn{
  display: flex;
  text-align: center;
  padding: 20px;
  font-size: 16px;
  margin-left: -18px;
}

#overlay .btn-get-started {
  font-family: "Poppins";
  text-transform: uppercase;
  font-weight: 600;
  width: fit-content;
  margin-top: -10px;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  margin-left: 18px;
  z-index: 1;
  background-image: linear-gradient(
    45deg,#1f06f9 25%, #f906e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
#overlay .learn-image{
  background-image: url(Assets/Image/13717657_5326273.jpg);
}



/*-----------------------------------------
# Contact Section
-----------------------------------------*/
#contact {
  width:60%;
  background-color: #002347;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.contact-us{
  color:wheat;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*-----------------------------------------
# Footer Section
-----------------------------------------*/

a, button, input, textarea, select{
  outline:none !important;
}

fieldset{
  border:0;
}

.title{
  color: var(--primary);
}

.flex, .fixed_flex{
  display: flex;
}

.flex-content{
  width:100%;
  position: relative;
}

.padding_1x{
  padding: 1rem;
}

.padding_2x{
  padding: 2rem;
}

.padding_3x{
  padding: 3rem;
}

.padding_4x{
  padding: 4rem;
}

.btn{
  padding:0.8rem 2rem;
  border-radius:5px;
  text-align:center;
  font-weight:500;
  text-transform:uppercase;
}

.btn_1{
  border:1px solid yellow;
  background-color:yellow;
  color:white;
}

.btn_1:hover{
  background-color:yellow;
  color:white;
}

.btn_2{
  border:1px solid yellow;
  background-color:yellow;
  color:Black;
}

.btn_2:hover{
  border:1px solid var(--primary);
  background-color:var(--primary);
  color:var(--secondary);
}

@media (max-width:920px){
  .flex{
      flex-wrap:wrap;
  }
  
  .padding_1x, .padding_2x, .padding_3x, .padding_4x{
      padding:1rem;
  }

  .btn{
      padding:0.5rem 1rem;
  }
  
  a, p{
      font-size:12px;
      color: whitesmoke;
  }
}
footer{
  background-color:#002347;
  color:var(--lite);
}

footer h3{
  color:wheat;
  margin-bottom:1.5rem;
}

footer a{
  color:whitesmoke;
  display:flex;
  margin:15px 0;
}

footer a:hover{
  color: #8feadf;
  
}

footer fieldset{
  padding:0;
}

footer fieldset input{
  background-color:#6a9893;
  border:0;
  color:white;
  padding:1rem;
  
}

input::placeholder{
  color:white;
}

footer fieldset .btn{
  padding: 14px 30px;
  border-radius:0;
  border:0;
}

footer fieldset .btn_2:hover{
  background-color:yellow;
  border:0;
  color:var(--primary);
}

footer .flex:last-child{
  align-items:center;
}

footer .flex:last-child .flex-content:last-child{
  text-align:right;
}

footer .flex:last-child p{
  color:white;
}

footer .flex:last-child a{
  width:40px;
  display:inline-block;
  background-color:#334f6c;
  color:white;
  padding:0.5rem;
  margin-right:3px;
  text-align:center;
}

footer .flex:last-child a:hover{
  background-color:wheat;
  color:var(--gray);
}

@media (max-width:1100px){
  footer .flex:first-child{
      flex-wrap:wrap;
  }
  
  footer .flex:first-child .flex-content{
      flex: 1 1 40%;
  }
  
}

@media (max-width:920px){
  footer .flex:last-child .flex-content:last-child{
      text-align:left;
  }
}

@media (max-width:320px){
  footer .flex:first-child .flex-content{
      flex:1 1 100%;
  }
}


/* Footer End */

/*-------------------------------------------------------------
# Featured Services
--------------------------------------------------------------*/

#featured-services .container{
  padding: 80px 0;
  overflow: hidden;
  margin-top: 20px;
}
#featured-services .c-title{
  font-size: 38px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

#featured-services .c-title::after{
  /* content: "Features";
  font-size: 56px; */


}

#featured-services .featured-title{
  font-size: 22px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: -4px;
} 

#featured-services .description{

  color: #6a9893;
  font-size: 16px;
}

#featured-services .service-item{
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  align-items: center;
}

#featured-services .f{
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  align-items: center;
  margin-left:50px;
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px 10px 40px 40px;
  overflow: hidden;
  box-shadow: 0 2px 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.4s ease-in-out;
}

#featured-services .f:hover{
  transform: translateY(-10px);
  box-shadow: 0 2px 35px 0 rgba(68, 88, 144, 0.2);
}


.readmore {
  color: WHITE;
  font-size: 14px;
  background-color: #6a9893;
  border: 1px solid #6a9893;
  border-radius: 7px;
  padding: 14px;
}

.readmore:hover{
  color: #6a9893;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid #6a9893;
  border-radius: 7px;
  padding: 14px;
}



